.presentation-container {

    display: flex;

    flex-direction: column;
    align-items: center;

   
}

.underscore {
    margin-bottom: 50px;
    margin-top: 45px;
}

.presentation-text {
    color : #999799;
    width: 40%;
    text-align: center;
    font-size: 26px;
    

}

.presentation-text span {
    display: inline-block;
    color: #383838;
    font-style: italic;
}